@keyframes btn-zoom-in {
    from {
        background-color: rgb(82, 82, 255);
        font-size: 16px;
    }
    to {
        background-color: rgb(24, 24, 192);
        font-size: 18px;
    }
}

@keyframes btn-zoom-out {
    from {
        background-color: rgb(24, 24, 192);
        font-size: 18px;
    }
    to {
        background-color: rgb(82, 82, 255);
        font-size: 16px;
    }
}

button {
    font-size:16px;
    color: white;
    background-color: #3A4F8B;
    border: 0;
    padding: 8px;
    border-radius: 1px;
}

button:hover {
    animation: btn-zoom-in 300ms;
    animation-fill-mode: forwards;
    cursor:pointer;
}

button:active {
    animation: btn-zoom-out 150ms;
    cursor:pointer;
}

button:not(:hover) {
    animation: btn-zoom-out 300ms;
    animation-fill-mode: forwards;
}