.content-container {
    margin: 10px;
}

.content-container .content-block {
    background-color: #5878d1;
    height: fit-content;
    padding: 10px;
}

.contentblock-horizontal {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.image-container {
    padding: 12px;
}