@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Stack+Sans+Text:wght@200..700&display=swap');

body {
    font-family: "Manrope", sans-serif;
    height: auto;
    margin: 0;
    padding: 0;
    background-color: #3A4F8B;
    color: #ffffff;
}

img.scaled-image {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

@media (min-width: 1024px) {
    img.scaled-image {
        max-width: 300px;
    }
}

hr {
    border: .1px solid rgb(209, 209, 209,0.2);
    width: 100%;
}