/* Standard grid for full-size browsers */

.grid-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto auto;
    gap: 18px;
    margin: 10px;
}

.grid-item-1-3 {
    background-color: #5878d1;
    height: 250px;
    padding: 10px;
    min-width: 30%;
}

.grid-item-1-3-big {
    background-color: #5878d1;
    height: 350px;
    padding: 10px;
    min-width: 30%;
}

.grid-item-full {
    background-color: #5878d1;
    height: 250px;
    min-width: 30%;
    padding: 10px;
    grid-column: 1 / 4;
}
.grid-item-full-big {
    background-color: #5878d1;
    height: 400px;
    min-width: 30%;
    padding: 10px;
    grid-column: 1 / 4;
}

.grid-item-2-3 {
    background-color: #5878d1;
    height: 250px;
    min-width: 30%;
    padding: 10px;
    grid-column: 1 / 3;
}


/* Responsive grid for small screens */
@media screen and (width <= 700px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto auto;
        gap: 18px;
        margin: 10px;
    }
    
    .grid-item-1-3 {
        background-color: #5878d1;
        height: 250px;
        padding: 18px;
        min-width: 30%;
    }

    .grid-item-1-3-big {
        background-color: #5878d1;
        height: 350px;
        padding: 18px;
        min-width: 30%;
    }
    
    .grid-item-full {
        background-color: #5878d1;
        height: 250px;
        min-width: 30%;
        padding: 18px;
        grid-column: 1 / 3;
    }
    .grid-item-full-big {
        background-color: #5878d1;
        height: 400px;
        min-width: 30%;
        padding: 18px;
        grid-column: 1 / 3;
    }
    
    .grid-item-2-3 {
        background-color: #5878d1;
        height: 250px;
        min-width: 30%;
        padding: 18px;
        grid-column: 1 / 2;
    }
}

