.productpage-grid {
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows:auto auto;
    gap: 18px;
    margin: 10px;
}

.productpage-grid .productpage-image-pane {
    background-color: #5878d1;
    height: 450px;
    grid-column: 1 / 3;
    padding: 6px;
}
.productpage-grid .productpage-info-pane {
    background-color: #5878d1;
    height: 450px;
    padding: 6px;
}