.productpage-grid {
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows:auto auto;
    gap: 18px;
    margin: 10px;
}

.productpage-grid .productpage-image-pane {
    background-color: #5878d1;
    height: 450px;
    grid-column: 1 / 3;
    padding: 6px;
    text-align: center;
}

.productpage-grid .productpage-image-pane img {
    width: 600px;
}

.productpage-grid .productpage-info-pane {
    display: flex;
    flex-direction: column;
    background-color: #5878d1;
    height: 450px;
    padding: 6px;
}

.productpage-grid .productpage-desc-pane {
    background-color: #5878d1;
    height: 650px;
    padding: 6px;
    grid-column: 1 / 4;
}

.productpage-desc-pane .productpage-desc-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto auto;
    gap: 9px;
}

.productpage-desc-pane .productpage-desc-container .description {
    grid-column: 1 / 4;
    padding: 16px;
    min-height: 100%;
}

.productpage-desc-pane .productpage-desc-container .shipping-and-payment {
    display: flex;
    flex-direction: column;
    padding: 16px;
    min-height: 100%;
}

.shipping-and-payment h2 {
    margin-top: 0;
}

.shipping-and-payment ul {
    list-style-type: disc;
    padding-left: 20px;
}

.shipping-and-payment ul li {
    margin-bottom: 8px;
}

.productpage-grid .productpage-info-pane .button-container {
    margin-top: auto;
}

.button-container button, .button-container .add-to-cart-button {
    display: block;
    margin: 3px;
    width: 100%;
    background-color:#c2d2ff;
    border: 1px solid #5878d1;
}

label {
    font-size: large;
    margin: 0 10px;
}

input[type="number"] {
    font-size: large;
    width: 60px;
    margin: 0 10px;
}

/*
=============================
RESPONSIVE DESIGN   
=============================
*/

@media (max-width: 1024px) {
    .productpage-grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .productpage-grid .productpage-image-pane {
        grid-column: 1 / 2;
        height: auto;
    }

    .productpage-grid .productpage-info-pane {
        height: auto;
        grid-column: 1 / 2;
    }

    .productpage-grid .productpage-desc-pane {
        grid-column: 1 / 2;
        height: auto;
    }

    /* Description subgrid becomes 1-column */
    .productpage-desc-pane .productpage-desc-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .productpage-desc-pane .productpage-desc-container .description {
        grid-column: 1 / 2;
    }
}
