.shoppingcart-container {
    padding: 16px;
}

#shoppingcart-list {
    margin-top: 16px;
    list-style-type: none;
    overflow: hidden;
    padding: 0;
}

#shoppingcart-list .shoppingcart-item {
    background-color: #5878d1;
    margin-bottom: 12px;
    padding: 12px;
    gap: 10px;
    overflow: hidden;
}

.shoppingcart-item h1 {
    font-size: 24px;
    font-weight: bold;
    float: left;
    margin: 0 10px 10px 0;
}

.shoppingcart-item p {
    font-size: 24px;
    float: left;
    margin: 0 10px 10px 0;

}

.shoppingcart-item .remove-item-button {
    float: right;
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 16px;
}

.continue-shopping {
    color: white;
}
